.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #f1d81be2;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  outline: none;
}
